<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>889880195115-phjgebq0abnpuo0fej2fu54dhjo2tsqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889880195115-phjgebq0abnpuo0fej2fu54dhjo2tsqj</string>
	<key>API_KEY</key>
	<string>AIzaSyALGGG8FPc4AHrxaieqEP_b1V1h9UCmxCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>889880195115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.epitech.EpitechEisenhower</string>
	<key>PROJECT_ID</key>
	<string>epitecheisenhower-d8ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>epitecheisenhower-d8ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889880195115:ios:bcc582bb43b4117c</string>
	<key>DATABASE_URL</key>
	<string>https://epitecheisenhower-d8ebe.firebaseio.com</string>
</dict>
</plist>